<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="faveApp">

<head th:replace="header-items :: copy"></head>

<body>
    <!-- Navbar -->
    <div th:replace="navbar :: copy"></div>
    <!--  Content container -->
    <div class="jumbotron" id="continer-margin">
        <div class="container">
            <h1 class="display-3">Actor Browser AngularJS Demo</h1>
            <p class="lead" th:text="#{angulardemo.message}"></p>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills" data-tabs='pills'>
            <li role="presentation" class="active nav-item"><a href="#actor" data-toggle="pills" class='nav-link active'>All Actors</a></li>
            <li role="presentation" class="active nav-item"><a href="#actor" data-toggle="pills" class='nav-link'>TV Roles</a></li>
            <!-- <li role="presentation"><a href="#books" data-toggle="tab" class='label label-default'>Books</a></li>
            <li role="presentation"><a href="#songs" data-toggle="tab" class='label label-default'>Songs</a></li> -->
        </ul>
        <div id='fav-tab-content' class='tab-content' style='padding-top: 1em;'>
            <div class='tab-pane active' id='actor'>
                <div class='card-block'>
                    <h3 class='tab-headings'>List of All Actors</h3>
                </div>
                <!-- Cards Start -->
                <div ng-controller='ActorJsController'>
                    <div class="input-group row mb-3 col-md-6">
                        <input type="text" ng-model="search" class="form-control" placeholder="Search Actors" aria-label="Actor Search">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                            </div>
                        </input>
                    </div>
                    <span class="badge badge-info"><span class="align-middle">Personel {{viewable.length}}</span></span>
                    <!-- <input type='text' ng-model="search" ></input> -->
                    <br/><br/>
                    <div class="cards" data-ng-repeat="a in actors  | alpha | orderBy:'name' | filter:search as viewable">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" ng-src="{{a.img}}"></img>
                            <div class="card-body">
                                <h5 class="card-title">{{a.name}}</h5>
                                <p class="card-text">{{a.description}}</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">{{a.gender}}</li><li class="list-inline-item">{{a.height}}</li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">Hair:&nbsp;<b>{{a.hair}}</b></li><li class="list-inline-item">Eyes:&nbsp;<b>{{a.eyes}}</b></li>
                                </ul>
                                    <span data-ng-repeat="t in a.traits" class="badge badge-secondary">{{t }} </span>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-link btn-lg">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-lg">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-lg">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
                <!-- Cards End -->
            </div>
            <!-- <div class='tab-pane' id='films'>
                <div class='card-block'>
                    <h3>Favorite Films</h3>
                    <p class="lead text-muted">
                        These are great films. Watch them.
                    </p>
                    <table class='table lead' ng-controller='FilmJsController'>
                        <tr ng-repeat="film in films">
                            <td class='lead'>{{film.title}}</td>
                            <td>&nbsp;</td>
                            <td>{{film.director}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class='tab-pane' id='books'>
                <div class='card-block'>
                    <h3>Favorite Books</h3>
                    <p class="lead text-muted">
                        This odd mix of books make up my favorites.
                    </p>
                    <table class='table lead' ng-controller='BookJsController'>
                        <tr ng-repeat="book in books">
                            <td class='lead'>{{book.title}}</td>
                            <td>&nbsp;</td>
                            <td>{{book.author}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class='tab-pane' id='songs'>
                <div class='card-block'>
                    <h3>Favorite Songs</h3>
                    <p class="lead text-muted">
                        My all time favorite songs.
                    </p>
                    <table class='table lead' ng-controller='SongJsController'>
                        <tr ng-repeat="song in songs">
                            <td class='lead'>{{song.title}}</td>
                            <td>&nbsp;</td>
                            <td>{{song.artist}}</td>
                        </tr>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="scripts :: copy"></div>

</body>

</html>
