<div th:fragment="copy" th:remove="tag">
    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/messages.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/devs-util.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/parallax.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/actors.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/limitTo.js}"></script>
</div>
