<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="actorApp">

<head th:replace="header-items :: copy"></head>

<body>
    <!-- Navbar -->
    <div th:replace="navbar :: copy"></div>
    <!--  Content container -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Actor Form AngularJS Demo</h1>
            <p class="lead" th:text="#{angulardemo.message}"></p>
        </div>
    </div>
    <div class="container">
        <div ng-controller='post'>
            <form name="createActor" novalidate="novalidate">

                    <div class="form-group" ng-repeat="p in profile">
                            <label>First and Last Name</label><input ng-model="p.name" ng-required="false"></input>
                            <label>Gender</label><input ng-model="p.gender" ng-required="false"></input>
                            <!-- <label>Description</label><input ng-model="p.description" ng-required="false"></input>
                            <label>Height</label><input ng-model="p.height" ng-required="false"></input>
                            <label>Image</label><input ng-model="p.img" ng-required="false"></input>
                            <label>Hair</label><input ng-model="p.hair" ng-required="false"></input>
                            <label>Eyes</label><input ng-model="p.eyes" ng-required="false"></input> -->
                    </div>

                <button ng-disabled="userFormOne.$invalid" ng-click="sendMe()">sendMe</button>
                <button ng-click="Add()" value="Add">add</button>
            </form>
        </div>
        <!-- Cards End -->
    </div>
    <!-- / Content container. -->
    <div th:replace="footer-items :: copy"></div>
</body>

</html>
