<script type="text/ng-template" id="actorView" th:fragment="copy">
    <div>
        <!-- Modal Header -->
        <div class="card flex-row flex-wrap">
            <div class="card-header border-0  w-25 p-3">
                <img class="img-thumbnail" ng-src="{{a.img}}"></img>
            </div>
            <div class="card-block px-3 py-3 w-75">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="card-title">{{a.name}}</h4>
                <p class="card-text">{{a.description}}</p>
                <ul class="list-inline">
                    <li class="list-inline-item">{{a.gender}}</li>
                    <li class="list-inline-item">{{a.height}}</li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">Hair:&nbsp;<b>{{a.hair}}</b></li>
                    <li class="list-inline-item">Eyes:&nbsp;<b>{{a.eyes}}</b></li>
                </ul>
                <span data-ng-repeat="t in a.traits">
                        <div class="badge badge-secondary">{{t}}</div>
                </span>
            </div>
            <div class="card-footer w-100 text-muted">
                <!-- <p>Optional Text</p> -->
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()">Close</button>
                <button type="button" class="btn btn-info pull-right" data-dismiss="modal" ng-click="add()">Select Actor</button>
            </div>
        </div>
    </div>
</script>
